body {
  font-family: "Helvetica Neue", sans-serif;
}

div.main {
  width: 800px;
  margin: auto;
}

div.header {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

div.header h1 {
  font-size: 18px;
  margin-bottom: 5px;
}

div.description {
  background: #EEEEEE;
  border-radius: 3px;
  border: 1px solid lightgrey;
  margin-bottom: 10px;
  font-size: 12px;
  padding: 4px;
}

div.content {
  display: flex;
}

div.content div.col {
  display: flex;
  flex-direction: column;
  flex: 1;
}

div.content div.col:first-child {
  margin-right: 20px;
}

textarea {
  height: 300px;
  flex: 1;
  line-height: 1.2;
  resize: none;
}

label {
  margin-bottom: 5px;
}
